@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'PublicSans-Medium';
    src: local('PublicSans-Medium'), url('PublicSans-Medium.otf') format('truetype');
}

@font-face {
    font-family: 'PublicSans-Regular';
    src: local('PublicSans-Regular'), url('PublicSans-Regular.otf') format('truetype');
}

